<style>
    .accordion {
        background-color: #f96332;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        border-bottom: 2px ridge #585858;
    }

    .active, .accordion:hover {
        background-color:#fafafa;
        color:#f44336;
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>
<div class="col-sm-3">
    <div class="left-sidebar">
        <div  class="categories">
        <ul>
            <h3 >Kategoriler</h3>
            {% for category in categories %}
                {% if category.parentid == '0' %}
                    <li>
                        <button style="font-weight: bolder" class="accordion">{{ category.title }}</button>
                        <div style="background:#f96332;border-bottom:1px solid white;" class="panel">
                            <ul>
                                {% for cat in categories %}
                                    {% if cat.parentid == category.id %}
                                        <li><a style="color:white;" href="{{ path('home_products',{'id':cat.id}) }}">{{ cat.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>


